---
export const prerender = true;
import { Query } from "appwrite";
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/Container.astro";
import { databases } from "@/lib/appwrite";

export async function getStaticPaths() {
  const { documents } = await databases.listDocuments(
    import.meta.env.PUBLIC_APPWRITE_DATABASE_ID,
    import.meta.env.PUBLIC_APPWRITE_COLLECTION_ID
  );
  return documents.map((doc) => ({ params: { postSlug: doc.slug } }));
}

const { postSlug } = Astro.params;

if (!postSlug) {
  return Astro.redirect("/");
}

const { documents } = await databases.listDocuments(
  import.meta.env.PUBLIC_APPWRITE_DATABASE_ID,
  import.meta.env.PUBLIC_APPWRITE_COLLECTION_ID,
  [Query.equal("slug", postSlug)]
);

if (documents.length === 0) {
  return Astro.redirect("/404");
}

const post = documents[0];
const publishedDate = new Date(post.$createdAt);
---

<Layout title=`${post.title} - My Blog`>
  <Container>
    <article class="prose mx-auto">
      <h1 class="text-4xl font-extrabold mb-6">{post.title}</h1>

      <p class="text-slate-500 mb-14">
        <time datetime={publishedDate.toISOString()}
          >Published {publishedDate.toLocaleDateString()}</time
        >
      </p>

      <Fragment set:html={post.content} />
    </article>
  </Container>
</Layout>
